*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@import url('https://db.onlinewebfonts.com/c/be602cc6bc49dae3e4bf9f233c45a677?family=NulshockRg-Bold');
body{
  background-color: black;
}
