*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
    font-family: 'Nulshock';
    src: url('./src/assest/fonts/Nulshock.woff2') format('woff2'),
         url('./src/assest/fonts/Nulshock.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nulshock', sans-serif;
  background-color: black;
}
