*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
    font-family: 'Nulshock';
    src: url('../src/assets/font/Nulshock-Bold.woff2') format('woff2'),
         url('../src/assets/font/Nulshock-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Nulshock', sans-serif;
  background-color: black;
  
}
