@font-face {
    font-family: 'Nulshock';
    src: url('Nulshock-Bold.woff2') format('woff2'),
        url('Nulshock-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

